<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.litomore.fanfou</string>
	<key>category</key>
	<string>Uncategorised</string>
	<key>connections</key>
	<dict>
		<key>95630708-F66E-4A6B-8FE3-C5D31D4F5739</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F5B56CD2-539A-4432-84FE-DBBEA1BBE8DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D280C4EE-DBA0-4E17-A194-6FAD5BEA9849</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>577182D8-308F-489E-92FE-E80CDD372F7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F5B56CD2-539A-4432-84FE-DBBEA1BBE8DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D280C4EE-DBA0-4E17-A194-6FAD5BEA9849</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>fanfou</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>./run-node.sh fanfou.js "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F5B56CD2-539A-4432-84FE-DBBEA1BBE8DD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ff</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Please Wait...</string>
				<key>script</key>
				<string>#!/bin/bash

arg=$1
argb64=$(echo -ne "$arg" | base64)

if [[ "$arg" =~ ^(h|m|me|p)(( )[0-9]*)*$ ]]; then
  ./run-node.sh fanfou.js "${argb64}"
  #subtitle=$arg
  #echo "{\"items\":[{\"title\":\"饭否\",\"subtitle\":\"${subtitle}\",\"arg\":\"${argb64}\"}]}"
else
  if [[ "$arg" =~ ^config.* ]]; then
    subtitle="配置 Consumer Key 与 Consumer Secret"
  elif [[ "$arg" =~ ^login.* ]]; then
    subtitle="登录饭否账号"
  elif [[ "$arg" =~ ^undo.* ]]; then
    subtitle="删除上一条消息"
  else
    count=${#arg}
    subtitle="${count} 字"
  fi
  echo "{\"items\":[{\"title\":\"饭否\",\"subtitle\":\"${subtitle}\",\"arg\":\"${argb64}\"}]}"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>index.js</string>
				<key>subtext</key>
				<string>你在做什么？</string>
				<key>title</key>
				<string>饭否</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>95630708-F66E-4A6B-8FE3-C5D31D4F5739</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>饭否</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D280C4EE-DBA0-4E17-A194-6FAD5BEA9849</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Tink</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>577182D8-308F-489E-92FE-E80CDD372F7A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>577182D8-308F-489E-92FE-E80CDD372F7A</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>95630708-F66E-4A6B-8FE3-C5D31D4F5739</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>D280C4EE-DBA0-4E17-A194-6FAD5BEA9849</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>F5B56CD2-539A-4432-84FE-DBBEA1BBE8DD</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
	</dict>
</dict>
</plist>
